# Pliki skompilowane
*.o
*.a
*.so
*.out
main.c
test.c
*.exe

# Programy wykonywalne
a.out

# Pliki debugowania
*.dSYM/
*.gcda
*.gcno
*.gcov

# Valgrind
vgcore.*

# System
.DS_Store
Thumbs.db

# Edytory
.vscode/
.idea/
*.swp
*.swo

# Pliki tymczasowe
*.tmp
*.log
*~

