# Pliki skompilowane
*.o
*.a
*.so
*.out
main.c
test

# Programy wykonywalne
a.out

# Pliki debugowania
*.dSYM/
*.gcda
*.gcno
*.gcov

# Valgrind
vgcore.*

# System
.DS_Store
Thumbs.db

# Edytory
.vscode/
.idea/
*.swp
*.swo

# Pliki tymczasowe
*.tmp
*.log
*~

ft_printf_tester-master/.gitignore
ft_printf_tester-master/.gitmodules
ft_printf_tester-master/Makefile
ft_printf_tester-master/README.md
ft_printf_tester-master/libtest/.gitignore
ft_printf_tester-master/libtest/diff.c
ft_printf_tester-master/libtest/libtest.h
ft_printf_tester-master/libtest/Makefile
ft_printf_tester-master/libtest/print_errors.c
ft_printf_tester-master/libtest/string.c
ft_printf_tester-master/malloc_count-0.7/memprofile.h
ft_printf_tester-master/malloc_count-0.7/README.md
ft_printf_tester-master/malloc_count-0.7/stack_count.c
ft_printf_tester-master/malloc_count-0.7/stack_count.h
ft_printf_tester-master/malloc_count-0.7/test-malloc_count/Makefile
ft_printf_tester-master/malloc_count-0.7/test-malloc_count/test.c
ft_printf_tester-master/malloc_count-0.7/test-memprofile/Makefile
ft_printf_tester-master/malloc_count-0.7/test-memprofile/memprofile.gnuplot
ft_printf_tester-master/malloc_count-0.7/test-memprofile/memprofile.pdf
ft_printf_tester-master/malloc_count-0.7/test-memprofile/test.cc
ft_printf_tester-master/obj/.gitignore
ft_printf_tester-master/src/.gitignore
ft_printf_tester-master/src/ft_printf_tester.h
ft_printf_tester-master/src/get_next_line_utils.c
ft_printf_tester-master/src/get_next_line.c
ft_printf_tester-master/src/get_next_line.h
ft_printf_tester-master/src/helpers.h
ft_printf_tester-master/src/libftprintf.h
ft_printf_tester-master/src/malloc_count.c
ft_printf_tester-master/src/malloc_count.h
ft_printf_tester-master/src/system_printer.c
ft_printf_tester-master/src/tests.c
ft_printf_tester-master/src/tests.c.old
ft_printf_tester-master/src/user_printer.c
ft_printf_tester-master/src/utils.c
ft_printf-main/.gitignore
ft_printf-main/en.subject.pdf
ft_printf-main/Makefile
ft_printf-main/README.md
ft_printf-main/inc/ft_printf_bonus.h
ft_printf-main/inc/ft_printf.h
ft_printf-main/src/ft_format.c
ft_printf-main/src/ft_parse.c
ft_printf-main/src/ft_print_chars.c
ft_printf-main/src/ft_print_hex.c
ft_printf-main/src/ft_print_nbrs.c
ft_printf-main/src/ft_printf.c
ft_printf-main/srcb/ft_format_bonus.c
ft_printf-main/srcb/ft_parse_bonus.c
ft_printf-main/srcb/ft_print_chars_bonus.c
ft_printf-main/srcb/ft_print_hex_bonus.c
ft_printf-main/srcb/ft_print_nbrs_bonus.c
ft_printf-main/srcb/ft_printf_bonus.c
printf_tester-main/.launch.sh
printf_tester-main/CHANGELOG.md
printf_tester-main/Makefile
printf_tester-main/README.md
printf_tester-main/srcs/.whitelist.txt
printf_tester-main/srcs/checker.py
printf_tester-main/srcs/header.h
printf_tester-main/srcs/bonus_tests/tests_dot.c
printf_tester-main/srcs/bonus_tests/tests_hash.c
printf_tester-main/srcs/bonus_tests/tests_minus.c
printf_tester-main/srcs/bonus_tests/tests_mix.c
printf_tester-main/srcs/bonus_tests/tests_plus.c
printf_tester-main/srcs/bonus_tests/tests_space.c
printf_tester-main/srcs/bonus_tests/tests_zero.c
printf_tester-main/srcs/mandatory_tests/tests_%.c
printf_tester-main/srcs/mandatory_tests/tests_c.c
printf_tester-main/srcs/mandatory_tests/tests_d.c
printf_tester-main/srcs/mandatory_tests/tests_i.c
printf_tester-main/srcs/mandatory_tests/tests_mix.c
printf_tester-main/srcs/mandatory_tests/tests_p.c
printf_tester-main/srcs/mandatory_tests/tests_s.c
printf_tester-main/srcs/mandatory_tests/tests_u.c
printf_tester-main/srcs/mandatory_tests/tests_X.c
printf_tester-main/srcs/mandatory_tests/tests_x.c
printfTester-master/Dockerfile
printfTester-master/Makefile
printfTester-master/README.md
printfTester-master/tests/+_test.cpp
printfTester-master/tests/0_test.cpp
printfTester-master/tests/c_test.cpp
printfTester-master/tests/d_test.cpp
printfTester-master/tests/dot_test.cpp
printfTester-master/tests/i_test.cpp
printfTester-master/tests/minus_test.cpp
printfTester-master/tests/mix_test.cpp
printfTester-master/tests/p_test.cpp
printfTester-master/tests/percent_test.cpp
printfTester-master/tests/s_test.cpp
printfTester-master/tests/sharp_test.cpp
printfTester-master/tests/space_test.cpp
printfTester-master/tests/u_test.cpp
printfTester-master/tests/upperx_test.cpp
printfTester-master/tests/x_test.cpp
printfTester-master/utils/check.cpp
printfTester-master/utils/check.hpp
printfTester-master/utils/color.cpp
printfTester-master/utils/color.hpp
printfTester-master/utils/leaks.cpp
printfTester-master/utils/leaks.hpp
printfTester-master/utils/print.hpp
printfTester-master/utils/sigsegv.cpp
printfTester-master/utils/sigsegv.hpp
